*{box-sizing: border-box;}

h1{font-size: 3em; color: #74009e;}
h2{font-size: 2.7em;  color: #FFD700;}
h3{font-size: 2em;  color: #FF6C00;}
p{font-size: 7 px; color:#E5E5F0}
footer{color: #E5E5F0;}

body{ font-family:'press start 2p',sans-serif ;
height: 100vh;
background: linear-gradient(45deg, #0B0024, #40006b, #6c0097, #ad00b9);
background-repeat: no-repeat;
background-size: 1200% 1200%;
animation: gradient 12s ease-in infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50% ;}
    50% {background-position: 100% 50% ;}
    100% {background-position: 0% 50% ;}
}

button{font-size: 1.5em;
font-weight: bold;
padding: 10px 20px;
border-radius: 8px;
border: 15xp solid #00BFFF ;
box-shadow:2px, 2px, 10px #00BFFF;
color: #FFD200 ;
background-color:#2D006B;
font-family:'press start 2p',sans-serif ;
}

button:hover{ background-color: #FF2EEA;}

.container{ 
    max-width: 1000px;
    margin: auto;
}

header{ background-color:#2D006B;}

header .logo{
    margin: 0;
    padding: 40px 40px;
}

header .container{ 
    display:flex;
    flex-direction: column;
    align-items: center;
}

header img{
    margin: 0px;
}

header a{
padding: 5px 12px;
text-decoration: none;
font-weight: bold;
color: #FFD200;
}

header a:hover{
    color: #FF6C00;
}

#hero{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
height: 90vh;
color: #FFD200;
background-image: linear-gradient(#00000099), url(media/Hero2.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
border-radius: 14px;
margin: 10px;
}

#Eotf{ 
    background-color: #0B0024;
    border-radius: 12px;
    text-align: center;
    margin: 10px;
}

#Desc{ 
    background-color: #0B0024;
    border-radius: 12px;
    text-align: center;
}


@media (min-width: 750px) {
    header{
        width: 100%;
    }

    header .container {flex-direction: row;
    justify-content: space-between;
}

    header a { 
        flex-direction: row;
        padding-bottom: 0%;
        padding-right: 20px;
    }
}